
.contact_link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #FFFFFF;
}

.contact_logo {
  width: 14px;
  margin-right: 12px;
}

.contact_logo_bigger_size {
  width: 30px;
}

.contact_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
}

.grey {
  color: #818181;
}
