
.footer {
  padding: 15px 0;
  background-color: #1D2647;
  color: #FFFFFF;

  &_inner {
    margin: 0 auto;
    width: 70%;
    min-width: 920px;
  }

  &_logo {
    display: block;
    margin: 35px auto;
    width: 120px;
  }

  &_text {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #FFFFFF;
  }

  &_marker {
    width: 15px;
    margin-right: 10px;
  }

  &_heading {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  &_info {
    display: flex;
    justify-content: space-between;
  }

  &_bottom {
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
  }

  &_contacts {
    flex-basis: 38%;
    padding: 10px 20px;
  }

  &_follow_us {
    padding: 10px 10px 20px;
    flex-basis: 38%;
  }

  &_follow_items {
    display: flex;
    flex-wrap: wrap;
  }

  &_follow_item {
    padding: 0 8px;
    flex-basis: 40%;
  }

  &_form {
    margin-top: 15px;
  }
}

.address {
  display: flex;
  align-items: flex-start;
  padding: 10px;

  &_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
  }
}

.font_bold {
  font-weight: bold;
}

.link {
  color: #FFFFFF;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.list {
  margin: 30px 0 40px;
}

.rating {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 350px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.star {
  width: 20px;
  margin: 0 3px;
}

.votes {
  font-size: 12px;
}

.type {
  padding: 10px 20px;
  flex-basis: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.05em;
}

.questionLogo {
  margin-left: 10px;
  width: 15px;
}

.subscribe {
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
}

.form {
  &_input {
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 5px 10px;

    &:focus {
      outline: none;
    }
  }

  &_btn {
    height: 30px;
    width: 80px;
    background: linear-gradient(90deg, #0052D4 0%, #4364F7 50%, #6FB1FC 100%);
    border-radius: 0 5px 5px 0;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
  }
}

